@charset "utf-8";
@import url("reset.css");
@import url("http://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css");

body{overflow-x:hidden;}
html{font-family:'Spoqa Han Sans','Spoqa Han Sans JP','Sans-serif';font-weight:400;
    /* Support for all WebKit browsers. */-webkit-font-smoothing:antialiased;
    /* Support for Safari and Chrome. */text-rendering:optimizeLegibility;
    /* Support for Firefox. */-moz-osx-font-smoothing:grayscale;
}
/* common */
.pc{display:none;}
.search_wrap{position:relative;width:100%;height:auto;padding:15px;box-sizing:border-box;}
#logo{width:72px;height:35px;}
#logo a{display:block;width:100%;height:100%;background:url(../img/common/index_logo.png);background-size:cover;}
.search_wrap .mo_btn_wraps{position:absolute;top:15px;right:15px;width:70px;height:30px;}
.search_wrap .mo_btn_wraps a{display:inline-block;width:30px;height:30px;}
.search_wrap .mo_btn_wraps .mo_search_btn{background:url(../img/common/search_btn.png) no-repeat center center;}
.search_wrap .mo_btn_wraps .sidebar_btn{background:url(../img/common/sidebar_btn.png) no-repeat center center;}
.search_wrap .search_con{display:none;width:100%;height:73px;margin-top:10px;}
.search_wrap .search_top{position:relative;}
.search_wrap .rank_wrap{position:relative;width:100%;height:23px;overflow:hidden;}
.search_wrap .rank_wrap ul{position:absolute;top:0px;left:0px;}
.search_wrap .rank_wrap li{width:100%;height:25px;}
.search_wrap .rank_wrap a{display:inline-block;font-size:14px;line-height:23px;}
.search_wrap .rank_wrap span{display:inline-block;height:23px;color:#ffffff;padding:0px 6px;margin-right:5px;background:#010101;}
.search_wrap .mall_link{position:absolute;top:0px;right:0px;width:128px;height:22px;}
.search_wrap .mall_link a{display:block;width:100%;height:100%;background:url(../img/common/quick_btn3.gif) no-repeat center center;}
.search_wrap .search_box{width:100%;height:40px;margin-top:10px;}
#search{display:block;width:calc(100% - 60px);height:40px;border:2px solid #010101;padding:0px 8px;box-sizing:border-box;float:left;}
#search_btn{display:block;width:60px;height:40px;background:#010101;border:none;font-size:16px;line-height:40px;color:#ffffff;text-align:center;float:left;}
.gnb{width:100%;height:54px;border-top:1px solid #cccccc;border-bottom:1px solid #cccccc;}
.gnb>ul>li{width:20%;float:left;}
.gnb>ul>li>a{display:block;width:100%;height:54px;padding:15px 0px;font-size:16px;line-height:26px;color:#3e332e;font-weight:700;text-align:center;text-indent:0px;letter-spacing:-1px;border-bottom:2px solid transparent;box-sizing:border-box;}
.gnb>ul>li>a.on{border-bottom:2px solid #3a3a3a;}

.side_nav_wrap .side_nav{position:fixed;top:0px;right:0px;margin-right:-60%;width:60%;height:100vh;background:#15a99a;z-index:1100;}
.side_nav_wrap .side_nav .close_btn{display:block;width:20px;height:20px;background:url(../img/common/close_btn.png) no-repeat center center;padding:15px;}
.side_nav_wrap .side_nav .menu_wrap{height:75vh;overflow:auto;}
.side_nav_wrap .side_nav li{border-bottom:1px solid #088a7d;}
.side_nav_wrap .side_nav li a{display:block;color:#ffffff;padding:10px 0px 10px 15px;}
.side_nav_wrap .util_wrap{position:absolute;bottom:0px;width:100%;padding:5px 15px;background:rgba(0,0,0,0.2);box-sizing:border-box;}
.side_nav_wrap .util_wrap li{width:50%;float:left;}
#mask{position:fixed;left:0px;top:0px;width:100%;height:100%;background:rgba(0, 0, 0, 0.6);z-index:1000;}

#fixed_arrow{position:fixed;right:1%;bottom:66px;z-index:10000;}
#fixed_arrow a{display:block;width:40px;height:40px;font-size:20px;color:#f5f5f5;line-height:40px;text-align:center;border-radius:20px;opacity:0;transition:all 0.3s;}
#fixed_arrow .up{margin-bottom:16px;background:url(../img/common/arrow_up.png) no-repeat center center;background-color:rgba(0,0,0,0.3);}
#fixed_arrow .down{transform:rotate(180deg);background:url(../img/common/arrow_up.png) no-repeat center center;background-color:rgba(0,0,0,0.3);}

footer{background:#f0f0f0;font-size:12px;}
.footer_top_wrap{padding:15px 0px;border-top:1px solid #bababa;border-bottom:1px solid #bababa;background:#e7e7e7;}
.footer_top_wrap .footer_top{width:100%;margin:auto;}
.footer_top_wrap .footer_top a.pc{display:none;}
.footer_top_wrap .footer_top a{position:relative;display:block;font-size:13px;line-height:15px;padding:0px 20px;float:left;}
.footer_top_wrap .footer_top a.important{font-weight:700;}
.footer_top_wrap .footer_top a::after{position:relative;top:0px;left:20px;content:'|';color:#c2c2c2;}
.footer_top_wrap .footer_top a:last-child::after{display:none;}
.jobaba_info{padding:20px 15px 0px 15px;}
.addr_copy_wrap{padding:15px;}

/* index */
.mo_main_visual_wrap{position:relative;width:100%;overflow:hidden;}
.mo_main_visual_wrap .img_wrap{position:absolute;top:0px;left:0px;width:100%;}
.mo_main_visual_wrap .img_wrap a{position:absolute;top:0px;left:0px;display:none;width:100%;}
.mo_main_visual_wrap .img_wrap a img{display:block;width:100%;}
.mo_main_visual_wrap .img_dots{position:absolute;bottom:20px;left:20px;}
.mo_main_visual_wrap .img_dots a{display:inline-block;width:10px;height:10px;background:rgba(0,0,0,0.5);border-radius:5px;margin-right:5px;cursor:pointer;}
.mo_main_visual_wrap .img_dots a.on{background:#000000;}
.mo_cate_wrap{padding:0px 10px;}
.mo_cate_wrap h3{font-size:18px;color:#666666;padding:20px 0px 15px 5px;}
.mo_cate_wrap .mo_cate_btn{width:100%;height:33px;}
.mo_cate_wrap .mo_cate_btn a{display:block;width:19%;font-size:13px;color:#666666;text-align:center;margin-right:1.25%;padding:5px 0px;border:2px solid #a0a0a0;border-radius:20px;box-sizing:border-box;float:left;}
.mo_cate_wrap .mo_cate_btn a:last-child{margin-right:0px;}
.mo_cate_wrap .mo_cate_btn .on{color:#ffffff;border:2px solid #20b4ab;background:#20b4ab;}
.mo_cate_title{width:100%;height:51px;padding-left:15px;padding-top:15px;border-bottom:1px solid #dddddd;box-sizing:border-box;}
.mo_cate_title a{font-size:14px;font-weight:700;color:#010101;padding-bottom:10px;margin-right:10px;}
.mo_cate_title a.on{border-bottom:3px solid #333333;}
.cate_wrap{display:none;}
.cate_wrap.on{display:block;}
.cate_con_wrap{width:100%;overflow-x:hidden;}
.cate_board_wrap{display:none;}
.cate_board_wrap.on{display:block;}
.cate_board li:nth-child(2){padding-top:10px;}
.cate_board li{position:relative;border-bottom:1px solid #dddddd;}
.cate_board li::before{position:absolute;bottom:20px;left:7px;content:'';width:2px;height:2px;background:#5c5c5c;border-radius:2px;}
.cate_board li a{display:inline-block;width:100%;font-size:14px;line-height:15px;padding:10px 15px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;box-sizing:border-box;}
.cate_box_row.mo_swipe{width:200vw;padding:0px 15px;margin-top:20px;margin-bottom:30px;}
.cate_box{width:20%;height:181px;margin-right:10px;float:left;}
.cate_box .img_wrap{width:100%;height:100px;margin-bottom:10px;}
.cate_box .img_wrap img{width:100%;height:100%;}
.cate_box .img_des{position:relative;min-height:30px;font-size:15px;color:#5d5d5d;padding-left:10px;overflow:hidden;}
.cate_box .img_des::before{position:absolute;top:10px;left:4px;content:'';width:2px;height:2px;background:#5c5c5c;border-radius:2px;}
.join_login_wrap{background:url(../img/common/mo_app_logo.png) no-repeat 20px 50%;background-color:#f2f4f5;background-size:17%;border-top:1px solid #dddddd;border-bottom:1px solid #dddddd;}
.join_login_wrap .join_login{width:100%;padding:20px;padding-left:120px;text-align:right;box-sizing:border-box;}
.join_login_wrap .join_login p{font-size:14px;color:#132c45;word-break:keep-all;}
.join_login_wrap .join_login span{font-weight:700;}
.join_login_wrap .join_login .button_wrap{padding-top:15px;}
.join_login_wrap .join_login .button_wrap a{display:inline-block;width:auto;font-size:13px;font-weight:700;padding:7px 15px;background:#ffffff;border:2px solid #7a7a7a;}
.join_login_wrap .join_login .button_wrap a:nth-child(2){margin-left:5px;}

/* support_policy */
.side_filter_wrap{width:100%;height:44px;background:#f2f4f5;border-bottom:1px solid #e0e0e0;}
.category_wrap{width:66%;height:100%;padding:10px 0px 0px 15px;border-right:1px solid #e0e0e0;box-sizing:border-box;float:left;}
.category_wrap>a{display:block;width:100%;height:100%;font-weight:700;background:url(../img/html/list_arrow.png) no-repeat 95% 8px;}
.category_wrap ul{display:none;position:absolute;left:0px;width:66%;max-height:300px;border:1px solid #dddddd;background:#ffffff;overflow:auto;box-sizing:border-box;z-index:10;}
.category_wrap ul li{padding:3px 0px;}
.category_wrap ul li a{display:block;font-size:14px;padding:8px 15px;}
.category_wrap ul li a:hover{color:#ffffff;background:#6bc4de;}
.mo_filter_btn a{display:block;width:30%;height:100%;font-size:14px;line-height:44px;background:url(../img/html/filter_btn.png) no-repeat 90% center;float:right;background-size:14px;}
.select_filter_wrap{display:none;}
.content_count{height:30px;font-size:16px;padding:13px 5%;background:#f2f4f5;border-top:1px solid #e0e0e0;border-bottom:1px solid #e0e0e0;}
.content_count .content_num_wrap{float:left;margin-top:3px;}
.content_count .content_num_wrap span{font-weight:700;color:#1c509e;}
.content_count .select_box{position:relative;width:113px;height:30px;font-size:15px;background:#ffffff;border:1px solid #999999;float:right;z-index:1;}
.content_count .select_box::before{position:absolute;top:50%;right:15px;width:0;height:0;content:'';margin-top:-1px;border-left:5px solid transparent;border-right:5px solid transparent;border-top:5px solid #333333;}
.content_count .select_box label{position:relative;top:3px;left:5px;color:#999999;z-index:-1;}
.content_count .select_box select{position:absolute;top:0px;left:0px;width:100%;height:auto;font-size:15px;padding:3px;box-sizing:border-box;opacity:0;}
.content_box{position:relative;padding:10px 15px;border-bottom:1px solid #c7c7c7;}
.content_box .img_wrap, .content_box .content_tag{display:none;}
.content_box .content_text{position:relative;width:100%;}
.content_box .content_text>a{display:block;font-size:15px;font-weight:700;color:#3e332e;padding:0px 40px 10px 0px;}
.content_box .content_text p{font-size:13px;line-height:19px;color:#7f7f7f;}
.content_box .heart{position:absolute;top:13px;right:15px;display:block;width:18px;height:15px;background:url(../img/html/heart_off.png) no-repeat center center;background-size:contain;cursor:pointer;}
.content_more_wrap{border-top:2px solid #474747;}
.content_more_wrap a{display:block;width:100%;height:46px;font-size:16px;font-weight:700;line-height:44px;color:#474747;text-align:center;margin-top:-1px;background:url(../img/html/more_btn.png) no-repeat 36% center;background-color:#f6f6f6;border:1px solid #353535;box-sizing:border-box;}