@charset "utf-8";
@import url("reset.css");
@import url("http://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css");

html{font-family:'Spoqa Han Sans','Spoqa Han Sans JP','Sans-serif';font-weight:400;}

/* common */
header{width:100%;height:193px;}
.util_align{width:100%;height:40px;border-bottom:1px solid #eeeeee;box-sizing:border-box;}
.util_wrap{width:1080px;height:100%;margin:auto;}
.util_wrap .outlink_wrap{float:left;}
.util_wrap .outlink_wrap a{display:block;margin-top:8px;float:left;}
.util_wrap .outlink_wrap .gjf{width:113px;height:25px;background:url(../img/common/gjf_icon.png) no-repeat center center;}
.util_wrap .outlink_wrap .dream{width:58px;height:25px;background:url(../img/common/dream_icon.png) no-repeat center center;}
.util_wrap .outlink_wrap .dream::before{content:'|';margin:10px;}
.util_wrap .util_menu{float:right;}
.util_wrap .util_menu a{display:inline-block;font-size:13px;line-height:13px;color:#777777;margin-top:14px;margin-left:5px;}
.util_wrap .util_menu a::after{content:'|';margin-left:10px;}
.util_wrap .util_menu a:last-child::after{display:none;}
.search_wrap{width:1080px;height:101px;margin:auto;padding:10px 0px;box-sizing:border-box;}
.search_wrap .logo_wrap{float:left;}
#logo{width:143px;height:70px;margin-top:11px;}
#logo a{display:block;width:100%;height:100%;background:url(../img/common/index_logo.png);background-size:cover;}
.search_wrap .search_con{width:360px;height:73px;padding-top:8px;margin-left:36px;float:left;}
.search_wrap .search_top{position:relative;}
.search_wrap .rank_wrap{width:100%;height:23px;overflow:hidden;}
.search_wrap .rank_wrap a{display:inline-block;font-size:14px;line-height:23px;}
.search_wrap .rank_wrap span{display:inline-block;height:23px;color:#ffffff;padding:0px 6px;margin-right:5px;background:#010101;}
.search_wrap .mall_link{position:absolute;top:0px;right:0px;width:128px;height:22px;}
.search_wrap .mall_link a{display:block;width:100%;height:100%;background:url(../img/common/quick_btn3.gif) no-repeat center center;}
.search_wrap .search_box{width:100%;height:40px;margin-top:10px;}
#search{display:block;width:300px;height:40px;border:2px solid #010101;padding:0px 8px;box-sizing:border-box;float:left;}
#search_btn{display:block;width:60px;height:40px;background:#010101;border:none;font-size:16px;line-height:40px;color:#ffffff;text-align:center;float:left;}
.quick_menu{margin-top:18px;float:right;}
.quick_menu a{display:block;width:73px;height:60px;background:url(../img/common/ico_top_gnb03.gif);float:left;}
.quick_menu a:nth-child(2){background-position:center;}
.quick_menu a:nth-child(3){background-position:right;}
.gnb{width:100%;height:50px;border-top:1px solid #c7c7c7;border-bottom:1px solid #c7c7c7;}
.gnb>ul{width:1080px;height:100%;margin:auto;}
.gnb>ul>li{width:132px;height:100%;float:left;}
.gnb>ul>li>a{display:block;width:100%;height:100%;background:url(../img/common/main_nav02.gif)}
.gnb>ul>li>a:hover{background-position-y:50px;}
.gnb>ul>li:nth-child(2)>a{background-position-x:-132px;}
.gnb>ul>li:nth-child(3)>a{background-position-x:-262px;}
.gnb>ul>li:nth-child(4)>a{background-position-x:-392px;}
.gnb>ul>li:nth-child(5)>a{background-position-x:-523px;}
.gnb>ul>li:nth-child(6)>a{background-position-x:-653px;}
.gnb>ul>li:nth-child(7)>a{background-position-x:-785px;}
.gnb>ul>li:nth-child(8)>a{width:164px;background-position-x:-915px;}
.gnb .sub{display:none;}

#fixed_arrow{display:none;}

/* index */
.main_visual_wrap{width:100%;height:330px;}
.main_visual_wrap .main_visual{position:relative;width:100%;height:100%;}
.main_visual_wrap .main_visual>.img_wrap>a{position:absolute;top:0px;left:0px;display:none;width:100%;height:100%;}
.main_visual_wrap .main_visual>.img_wrap>a.on{display:block;}
.main_visual_wrap .main_visual>.img_wrap>a>img{display:block;height:100%;margin:auto;}
.main_visual_wrap .main_visual>.img_wrap>a:nth-child(1){background-color:#5dd478;}
.main_visual_wrap .main_visual>.img_wrap>a:nth-child(2){background-color:#ececee;}
.main_visual_wrap .main_visual>.img_wrap>a:nth-child(3){background-color:#00afee;}
.main_visual_wrap .main_visual .img_des{position:absolute;bottom:10px;left:50%;margin-left:260px;width:280px;height:290px;background:#ffffff;padding:12px 15px 10px 15px;box-sizing:border-box;border-radius:6px;box-shadow:1px 1px 10px rgba(0,0,0,.2);}
.main_visual_wrap .main_visual .img_des li a{display:block;width:100%;height:32px;background:url(../img/common/mv_arrow.png) no-repeat 8px center;font-size:13px;line-height:24px;letter-spacing:-1px;padding:5px 0px 0px 18px;border-bottom:1px solid #cccccc;box-sizing:border-box;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.main_visual_wrap .main_visual .img_des li a.on{color:#20b4ab;background:url(../img/common/mv_arrow_on.png) no-repeat 8px center;}
.main_visual_wrap .main_visual .img_des li a.on:after{content:'';position:absolute;left:15px;width:250px;height:32px;margin-top:-5px;border:3px solid #20b4ab;box-sizing:border-box;}
.recommend_wrap{width:100%;padding:30px 0px;background:#f7f7f7;border-bottom:1px solid #dddddd;}
.recommend_wrap .recommend_align{width:1080px;margin:auto;}
.recommend_wrap h2{font-size:20px;color:#000000;padding-bottom:15px;}
.recommend_wrap .recommend_content{width:100%;height:187px;margin-bottom:50px;}
.recommend_wrap .recommend_half{position:relative;width:49.5%;height:187px;border:1px solid #dddddd;background:#ffffff;overflow:hidden;box-sizing:border-box;float:left;transition:all 0.3s;}
.recommend_wrap .recommend_half:hover{box-shadow:1px 1px 10px rgba(0,0,0,0.2);}
.recommend_wrap .recommend_half:nth-child(2){margin-left:1%;}
.recommend_wrap .recommend_half a{display:block;width:100%;height:100%;}
.recommend_wrap .recommend_half .img_wrap{width:58%;height:100%;padding-right:20px;box-sizing:border-box;float:left;}
.recommend_wrap .img_wrap img{display:block;width:100%;height:100%;}
.recommend_wrap .recommend_half .content_des{position:relative;width:42%;height:100%;padding:20px 20px 20px 0px;box-sizing:border-box;float:left;}
.recommend_wrap .recommend_half .content_des h3{font-size:18px;line-height:23px;color:#333333;padding-bottom:10px;}
.recommend_wrap .recommend_half .content_des p{font-size:14px;line-height:19px;color:#888888;}
.recommend_wrap .recommend_half .content_des span{position:absolute;bottom:12px;right:20px;font-size:12px;}
.recommend_wrap .recommend_wrapper{width:100%;height:274px;}
.recommend_wrap .recommend_wrapper .recommend_box{width:263px;height:100%;margin-left:9px;float:left;}
.recommend_wrap .recommend_wrapper .recommend_box:nth-child(1){margin-left:0px;}
.recommend_wrap .recommend_wrapper .recommend_box a{display:block;width:100%;height:100%;}
.recommend_wrap .recommend_wrapper .recommend_box .img_wrap{width:100%;height:173px;border:1px solid #c5c5c5;box-sizing:border-box;}
.recommend_wrap .recommend_wrapper .recommend_box p{width:100%;height:65px;font-size:17px;padding:10px;text-align:center;overflow:hidden;box-sizing:border-box;}
.recommend_wrap .recommend_wrapper .recommend_box .date_box{width:100%;height:36px;font-size:16px;line-height:34px;font-weight:700;color:#010101;text-align:center;background:#ffffff;border:1px solid #9b9b9b;box-sizing:border-box;}
.recommend_wrap .recommend_wrapper .recommend_box .date_box span{color:#cf2323;}
.pick_wrap{width:100%;height:609px;padding:30px 0px;margin-bottom:20px;background:url(../img/pick_bg.jpg) no-repeat center center;}
.pick_wrap .pick_align{width:1080px;margin:auto;height:100%;}